html, body {
    background: #0f0e17;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0f0e17;
    color: #fffffe;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0px;
}

nav > a {
    color: #f25f4c;
    text-decoration: none;
}

.logo {
    font-weight: bolder;
    font-size: larger;
    color: #ff8906;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

h1 {
    color: #fffffe;
}

.intro {
    padding: 5px;
    color: #a7a9be;
}

h2 {
    color: #fffffe;
}

img {
    width: 100%;
    height: auto;
}

.landing {
    margin-bottom: 5rem;
}

.landing-right {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
}

.landing-right > div {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.info {
    color: #a7a9be;
}

.proj2 {
    display: none;
}

.about {
    padding: 5px;
    color: #a7a9be;
    margin-bottom: 5rem;
}

.footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: #a7a9be;
}

.projects {
    margin-bottom: 5rem;
}

@media (min-width: 810px) {

    .content-inside {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .landing {
        margin-top: 6rem;
        display: flex;
    }

    .landing-left {
        width: 50%;
        margin-top: 5rem;
    }

    .landing-right {
        overflow-x: visible;
        display: block;
        width: 50%;
    }

    .thumb1 {
        border: 2px solid #e53170;
        width: 50%;
        margin-left: 2rem;
        margin-bottom: -4rem;
    }

    .thumb2 {
        border: 2px solid #e53170;
        width: 50%;
        margin-left: 15rem;
        margin-bottom: -4rem;
    }

    .thumb3 {
        border: 2px solid #e53170;
        width: 50%;
        margin-left: 2rem;
    }
    
    .project1 {
        display: flex;
    }

    .projdesc1 {
        width: 50%;
    }

    .project1 > img {
        width: 50%;
    }

    .project2 {
        display: flex;
    }

    .projdesc2 {
        width: 50%;
    }

    .project2 > img {
        width: 50%;
    }

    .proj2 {
        display: block;
    }

    .proj2mb {
        display: none;
    }

    .project3 {
        display: flex;
    }

    .projdesc3 {
        width: 50%;
    }

    .project3 > img {
        width: 50%;
    }

}