html, body {
    background: linear-gradient(-45deg, #abbaab, #ffffff);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff4949;
    border-radius: 10px;
    color: #ffffff;
    height: 40px;
    width: 100%;
}

nav > a {
    background: linear-gradient(-45deg, #abbaab, #ffffff);
    background-attachment: fixed;
    border-radius: 10px;
    padding: 5px;
    color: #ff4949;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

h1 {
    color: #ff4949;
}

.intro {
    background-color: #ff4949;
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
}

h2 {
    color: #ff4949;
}

img {
    width: 100%;
    height: auto;
}

.info {
    background-color: #ff4949;
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
}

.about {
    background-color: #ff4949;
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
}

.footer {
    height: 50px;
    margin-top: -50px;
}

@media (min-width: 480px) {

}